body{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-image: url(https://t4.ftcdn.net/jpg/03/19/28/67/240_F_319286712_A1Ub7YD5EAtGhpxc9C0FaIPOPXKKU0rU.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: lightgreen;
    height: 70vh;
    position: relative;
    background-size: max(1558px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
}
h1{
    color: orange;
display: flex;
font-size: 50px;
margin-left: 40vw;
font-style: oblique;
}
#message-el{
    font-size: 50px;
    margin-left: 23vw;
    color: yellow;
    font-style: italic;
}
.margin{
    font-size: 50px;
    margin-left: 23vw;
    color: yellow;
    font-style: italic;

}
.start{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 38vw;
    color: darkgreen;
    font-style: italic;
    background-color: yellow;
    border-radius: 10px;
    display: flex;
}
#newcard{
    margin-top: 5px;
    font-size: 57px;
    font-weight: bolder;
    margin-left: 37.8vw;
    color: darkgreen;
    font-style: italic;
    background-color: yellow;
    border-radius: 10px;
    display: flex;
}
#player-el{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 46vw;
    color: yellow;
    font-style: italic;
}
@media only screen and (max-width: 655px) {
    .start{
        font-size: 20px;
        font-weight: bolder;
        margin-left: 38vw;
        color: darkgreen;
        font-style: italic;
        background-color: yellow;
        border-radius: 10px;
        display: flex;
    }
    #newcard{
        margin-top: 5px;
        font-size: 28px;
        font-weight: bolder;
        margin-left: 37.8vw;
        color: darkgreen;
        font-style: italic;
        background-color: yellow;
        border-radius: 10px;
        display: flex;
    }
    h1{
        color: orange;
    display: flex;
    font-size: 30px;
    margin-left: 40vw;
    font-style: oblique;
    }
  }
  @media only screen and (max-width: 344px){
    h1{
    margin-left: 25vw;
    }
    .start{

        margin-left: 25vw;

    }
    #newcard{
        margin-left: 25vw;
   
    }
    #player-el{
        margin-left: 35vw;}
  }
  @media only screen and (max-width: 1664px){
body{
    background-size: max(1709px, 100vw);
}
  }